*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
*/build
apcoa-entities/build
apcoa-db/build
/build
*/build
infer-out/
/captures
.externalNativeBuild
app/libs/
reactivecomponents/libs/
reactivecomponents/src/main/res/drawable/
infer-out/
app/.signin/
fastlane/report.xml
gradlew
gradlew.bat
